<div class="modal fade" id="modal-insertProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="z-index: 10000;">
    <div class="modal-dialog" role="document" style="left:25% !important;width: 50vw;max-width: 40vw;">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm nhu yếu phẩm</h5>
                <button type="button" id="close_insert" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">
                        <div id="list-prod" data-spy="scroll" data-target="#navbar-example2" data-offset="10">

                            <div class="card-product" style="box-shadow:none">
                                <div class="row mb-3">
                                    <div class="search">
                                        <div class="input-group ms-2">
                                            <div class="form-outline" style="width: 80%;">
                                                <input type="search" id="form1" class="form-control" />
                                            </div>
                                            <button type="button" id="searchProduct" class="btn btn-primary"
                                                style="width: 20%;">
                                                <i class="fas fa-search">Search</i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <div id="cards">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button id="update" type="button" class="btn btn-primary">Cập nhật</button>
            </div>

        </div>
    </div>
</div>

<style>
    .selected {
        box-shadow: 0px 0px 15px rgb(0 26 255)
    }
</style>
<script>
    $("#cards ").on("click",".card-box",function(e) {

        console.log('ngu')

        if($(this).hasClass("selected")) {
            $(this).removeClass("selected")
            productsToPackage.splice(productsToPackage.indexOf($(this).attr('value')),1);
        } else {
            productsToPackage.push($(this).attr('value'))
            $(this).addClass("selected")
        }
    });

    $("#searchProduct").click(function() {
        let keyword=$("#form1").val();
        allproduct1=allproduct.filter(item => {
            return (item.TenNYP.toLowerCase().indexOf(keyword.toLowerCase())>=0);
        });
        reloadTableProduct(allproduct1)
    })

    $('#update').on('click',function() {
        productsToPackageTrue=productsToPackage;
        reloadTableProductsOfPackage(productsToPackageTrue)
        $("#close_insert").click();



    })
</script>