<!-- Update Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật thông tin nhu yếu phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-auto col-img">
            <div class="container item-img-container">
              <div class="row">
                <div class="col-sm">
                  <img class="item-img" src="/img/bread1.jpg">
                </div>
                <div class="col-sm">
                  <img class="item-img" src="/img/bread2.jpg">
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <img class="item-img" src="/img/bread3.jpg">
                </div>
                <div class="col-sm">
                  <img class="item-img" src="/img/bread4.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm col-info">
            <form action="/manager/user/update" method="post">
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Mã gói nhu yếu phẩm</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="1524">
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Tên gói nhu yếu phẩm</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="1000USD">
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Mức giới hạn</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="1000USD">
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Thời gian giới hạn</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="cái">
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm">
            <div id="list-prod" data-spy="scroll" data-target="#navbar-example2" data-offset="10">

              <div class="card-product">
                <div class="row">
                  <div class="col-auto col-1st">
                    <img src="/img/bread1.jpg">
                  </div>
                  <div class="col col-2nd">
                    <h1>Bánh mì 1</h1>

                    <div class="group-btn-number">
                      <span>Số lượng</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="group-btn-number">
                      <span>Số lượng tối đa</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="group-btn-number">
                      <span>Số lượng tối thiểu</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>

              <div class="card-product">
                <div class="row">
                  <div class="col-auto col-1st">
                    <img src="/img/bread1.jpg">
                  </div>
                  <div class="col col-2nd">
                    <h1>Bánh mì 1</h1>

                    <div class="group-btn-number">
                      <span>Số lượng</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="group-btn-number">
                      <span>Số lượng tối đa</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="group-btn-number">
                      <span>Số lượng tối thiểu</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="card-product">
                <div class="row">
                  <div class="col-auto col-1st">
                    <img src="/img/bread1.jpg">
                  </div>
                  <div class="col col-2nd">
                    <h1>Bánh mì 1</h1>

                    <div class="group-btn-number">
                      <span>Số lượng</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="group-btn-number">
                      <span>Số lượng tối đa</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="group-btn-number">
                      <span>Số lượng tối thiểu</span>
                      <div style=" display: inline-block; ">
                        <div class="input-group input-group-spinner group-incr-decr">
                          <div class="input-group-prepend">
                            <button class="btn btn-decrement btn-outline-secondary" type="button">+</button>
                          </div>
                          <input class="input" value="1">
                          <div class="input-group-append">
                            <button class="btn btn-increment btn-outline-secondary" type="button">-</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="card-product card-add-product">
                <img src="/img/plus.png">
                Thêm sản phẩm mới
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-primary">Cập nhật</button>
      </div>

    </div>
  </div>
</div>