<!-- bootstrap 5.x or 4.x is supported. You can also use the bootstrap css 3.3.x versions -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
  crossorigin="anonymous">

<!-- default icons used in the plugin are from Bootstrap 5.x icon library (which can be enabled by loading CSS below) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
  crossorigin="anonymous">

<!-- alternatively you can use the font awesome icon library if using with `fas` theme (or Bootstrap 4.x) by uncommenting below. -->
<!-- link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous" -->

<!-- the fileinput plugin styling CSS file -->
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />

<!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
<!-- link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput-rtl.min.css" media="all" rel="stylesheet" type="text/css" /-->

<!-- the jQuery Library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/piexif.min.js"
  type="text/javascript"></script>

<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/sortable.min.js"
  type="text/javascript"></script>

<!-- bootstrap.bundle.min.js below is needed if you wish to zoom and preview file content in a detail modal
    dialog. bootstrap 5.x or 4.x is supported. You can also use the bootstrap js 3.3.x versions. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  crossorigin="anonymous"></script>

<!-- the main fileinput plugin script JS file -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>

<!-- following theme script is needed to use the Font Awesome 5.x theme (`fas`). Uncomment if needed. -->
<!-- script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/themes/fas/theme.min.js"></script -->

<!-- optionally if you need translation for your language then include the locale file as mentioned below (replace LANG.js with your language locale) -->
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/locales/LANG.js"></script>

<!-- Insert Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="z-index: 1060;">
  <div class="modal-dialog" role="document" style="position: absolute !important;">
    <div class="modal-content">
            <form id="insert-form">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm gói nhu yếu phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-auto col-img">
            <div class="container item-img-container">
              <div class="row">
                <div class="col-sm">
                  <input type="file" id="input-id" name="image" accept="image/*">

                </div>
              </div>

            </div>
          </div>
          <div class="col-sm col-info">
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Tên gói nhu yếu phẩm</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" required placeholder="Gói đồ dùng trẻ em" name="TenGoiNYP">
                </div>
              </div>
              <div class="mb-3"></div>

              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Mức giới hạn</p>
                </div>
                <div class="col-sm">
                  <input type="number" class="form-control" required placeholder="1" name="MucGioiHan">
                </div>
              </div>
              <div class="mb-3"></div>
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Thời gian giới hạn </p>
                </div>
                <div class="col-sm">
                  <input type="number" class="form-control" required placeholder="Ngày" name="ThoiGianGioiHan">
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div id="list-prod" data-spy="scroll" data-target="#navbar-example2" data-offset="10">
              <div id="list-2">

              </div>
              <div class="card-product card-add-product" data-toggle="modal" data-target="#modal-insertProduct">
                <img src="/img/plus.png">
                Thêm sản phẩm mới
              </div>

            </div>
          </div>
          </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
      </div>
            </form>

    </div>
  </div>
  </div>
<script>
  $('.card-add-product').on('click',function() {
    setInterval(() => {
      $($('.modal-backdrop')[1]).css('z-index','1070')
    },40)
  })

      $(function() {
        $("#input-id").fileinput({
          enableResumableUpload: true,
          maxFileCount: 1,
          allowedFileTypes: ['image'],    // allow only images
          showCancel: true,
          initialPreviewAsData: true,
          overwriteInitial: false,
          theme: 'fas',
        });
      });

      $(document).ready(function() {

      $(".file-preview-thumbnails").css("overflow-x","scroll")
      $(".file-preview-thumbnails").css("display","flex")
      $(".file-input").css("width","25.5vw")
      $(".fileinput-upload-button").css("display","none")
    })
    </script>

{{> package/insertProductModal}}