{{> adminNavbar text='Tìm kiếm nhu yếu phẩm ... '}}

<div class="mb-6"></div>

<div class="container-fluid">
    <div class="mb-3"></div>
    <div class="row">
        {{> adminSidebar where='create'}}

        <div class="card mx-auto align-middle" style="width:60%">
            <div class="card-body">
                <h1>Tạo tài khoản người quản lý</h1>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên tài khoản</label>
                        <input type="text" class="form-control" name="username" placeholder="Tên tài khoản">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo</button>
                </form>
            </div>
        </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">



        </main>
    </div>
</div>
{{> modal}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js">  </script>