{{> navbar text='Tìm kiếm nhu yếu phẩm ... '}}

<div class="mb-6"></div>
<div class="container-fluid">
    <div class="row">
        {{> sidebar where='user'}}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="line-1">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <button id="btn-back" class="btn btn-primary">Quay lại</button>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <button class="btn btn-primary" data-toggle="modal"
                            data-target="#manager_statusChange_modal">Thay đổi trạng thái</button>
                        <div class="mb-2 mr-sm-2"></div>
                        <button class="btn btn-primary" data-toggle="modal"
                            data-target="#manager_placeChange_modal">Thay
                            đổi nơi điều trị</button>
                    </div>
                </div>
                <h2>
                    Chi tiết người liên quan
                </h2>
            </div>

            <div class="table-responsive">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Họ và tên:</th>
                                    <td>Trà Anh Toàn</td>
                                </tr>
                                <tr>
                                    <th scope="row">CMND/CCCD:</th>
                                    <td>212846352</td>
                                </tr>
                                <tr>
                                    <th scope="row">Năm sinh:</th>
                                    <td>2000</td>
                                </tr>
                                <tr>
                                    <th scope="row">Địa chỉ:</th>
                                    <td>Phổ An, Đức Phổ, Quảng Ngãi</td>
                                </tr>
                                <tr>
                                    <th scope="row">Trạng thái hiện tại:</th>
                                    <td>F10</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nơi điều trị/cách li:</th>
                                    <td>Bệnh viện đa khoa Đặng Thùy Trâm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h1>Danh sách người liên quan tới bệnh nhân</h1>
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>

                                <tr>
                                    <th>STT</th>
                                    <th>Họ và tên</th>
                                    <th>Tình trạng</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Đặng Văn Hiển</td>
                                    <td>F0</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Phan Xuân Bảo</td>
                                    <td>F1</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Lê Nguyên Tuấn</td>
                                    <td>F3</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{{> user/updateModal}}
{{> user/deleteModal}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>