{{> navbar text='Tìm kiếm nhu yếu phẩm ... '}}

<div class="mb-6"></div>

<div class="container-fluid">
  <div class="row">
    {{> sidebar where='user'}}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div id="line-title">
        <h2 class="title">Danh sách người liên quan</h2>
        <div class="btn-toolbar mb-2 mb-md-0 group-btn-action">
          <div class="btn-group mr-2">
<button class="btn btn-primary" data-toggle="modal" data-target="#modal-insert">
  Thêm người
</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Sắp xếp theo
            </button>
<div class="dropdown-menu dropdown-menu-right">
  <button class="dropdown-item" type="button">
    Tình trạng
  </button>
  <button class="dropdown-item" type="button">
    Độ tuổi
  </button>
  <button class="dropdown-item" type="button">
    Giới tính
  </button>
  <button class="dropdown-item" type="button">
    Địa chỉ
  </button>
  <button class="dropdown-item" type="button">
    Nơi điều trị
  </button>
</div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
{{user}}
        <table id="table-main" class="table table-striped table-sm">
          <thead>
            <tr>
              <th>STT</th>
              <th>Họ tên</th>
              <th>Trạng thái</th>
              <th>Tuổi tác</th>
              <th>Địa chỉ</th>
              <th>Chi tiết</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="item-id">1234</td>
              <td>1</td>
              <td>Trà Anh Toàn</td>
              <td>F10</td>
              <td>22</td>
              <td>Quảng Ngãi</td>
              <td>
                <button type="button" class="btn btn-primary btn-info">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <td class="item-id">1234</td>
              <td>2</td>
              <td>Trà Anh Toàn</td>
              <td>F10</td>
              <td>22</td>
              <td>Quảng Ngãi</td>
              <td>
                <button type="button" class="btn btn-primary btn-info">Chi tiết</button>
              </td>
            </tr>
          </tbody>
        </table>
        {{> pagination}}
      </div>

    </main>
  </div>
</div>
{{> modal}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js">  </script>