<link rel="stylesheet prefetch"
  href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<div class="modal fade" id="manager_placeChange_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Thay đổi nơi điều trị
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="placeIdForm">
          <div class="form-group">
            <label for="exampleInputEmail1">
              Địa chỉ hiện tại:
            </label>
            <h3>
              {{NoiDieuTri}}
            </h3>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">
              Địa chỉ mới:
            </label>
          </div>
          <div class="btn-group">
            <select name="trangthaimoi" class="custom-select" id="noiDieuTri">
              <option value="-1" selected>Địa chỉ mới</option>
            
            
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">
              Thêm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
      $('#manager_statusChange_modal').on('shown.bs.modal',function() {
      $('#myInput').trigger('focus')
  });
</script>
<script type="text/javascript">
      $(function() {
        $("#datepicker").datepicker()
      });
</script>