<nav id='pagination-nav' aria-label="..." class="mx-auto">
    <ul class="pagination" style="margin: auto;">
        <li class="page-item">
            <a id="first-page" class="page-link"> &#8592;</a>
        </li>
        <li class="page-item">
            <a class="page-link page-num">1</a>
        </li>
        <li class="page-item">
            <a class="page-link page-num">2</a>
        </li>
        <li class="page-item">
            <a class="page-link page-num">3</a>
        </li>
        <li class="page-item">
            <a id="last-page" class="page-link">&#8594;</a>
        </li>
    </ul>
</nav>
<link rel="stylesheet" href="/css/pagination.css">
<script src="/js/pagination.js"></script>