<body class="text-center mx-auto w-25 h-100 my-auto" style="background-color: #F5F5F5;">
  <form class="form-signin" method="post" action="/auth/signin">
    <h1 class="h3 mb-3 font-weight-normal">
      Covid Management
    </h1>
    <h1 class="h3 mb-3 font-weight-normal">
      Create Admin Account
    </h1>
    <label for="inputEmail" class="sr-only">
      Username
    </label>
    <input
      id="inputEmail"
      name="email"
      class="form-control"
      placeholder="Email address"
      required=""
      autofocus=""
    />
    <div class="mb-3"></div>
    <label for="inputPassword" class="sr-only ">
      Password
    </label>
    <input
      type="password"
      name="password"
      id="inputPassword"
      class="form-control "
      placeholder="Password"
      required=""
    />
    
    <div class="checkbox mb-3"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Create
    </button>
    {{#if msg}}
      <p>
        {{msg}}
      </p>
    {{/if}}
  </form>
</body>