
<body id="body">
  <div id="form-container" class="card p-5">
    <div id="title" class="w-100">
       <p class="w-100" style="font-size: 30px;">Khởi tạo tài khoản</p> 
    </div>
    {{#if msg}}
        <div class="alert alert-warning" role="alert">
          {{msg}}
        </div>
      {{/if}}
    <form class="form-signin" method="post" action="/init">
      <div class="input-group">
        <label for="username" class="sr-only">
          Tài khoản
        </label>
        <input id="username" name="username" class="form-control " placeholder="Tên đăng nhập" required=""
          autofocus="" />
      </div>
      <div class="input-group">
        <label for="password" class="sr-only">
        Mật khẩu
        </label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Mật khẩu"
          required="" />
      </div >
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Tạo tài khoản
      </button>
    </form>  
  </div>
</body>