<body class="text-center mx-auto w-25 h-100 my-auto" style="background-color: #F5F5F5;;margin-top: 10% !important;
    top: 100%;">
    <div class=" card p-3"><form class="form-signin" method="post" action="/auth/signin">
    <h1 class="h3 mb-3 font-weight-normal">
      Covid Management
    </h1>
    <h1 class="h3 mb-3 font-weight-normal">
      Change Password
    </h1>
    <div class="mb-5"></div>
    
    <label for="inputPassword" class="sr-only">
      Password
    </label>
    <input
      type="password"
      name="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required=""
    />
    <div class="mb-3"></div>
    <label for="inputPassword1" class="sr-only">
      Confirm password
    </label>
    <input
      type="password"
      name="password1"
      id="inputPassword1"
      class="form-control"
      placeholder="Confirm password"
      required=""
    />
    <div class="checkbox mb-3">
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Change password
    </button>
    {{#if msg}}
        <p>{{msg}}</p>
    {{/if}}
  </form></div>
  
</body>