#sidebar {
  height: 100vh;
  width: 14rem;
  /* flex: none; */
  max-width: none;
  position: fixed;
  padding: 1rem;

  font-size: 1.2em;
  font-weight: 250;
  line-height: 1.9;
}

#sidebar .nav-item {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
