body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
background: var(--gray);
}

 #sidebar {
  background-color: #494CA2;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -5px;
}
