#stacked-example-3 {
    height: 300px;
    max-width: 700px;
    margin: 0 auto;
    --heading-size: 2.5rem;
    --color-1: rgba(255, 200, 0, 0.6);
    --color-2: rgba(255, 150, 0, 0.6);
    --color-3: rgba(255, 75, 0, 0.6);
    --color-4: rgba(255, 0, 0, 0.6);
}

#stacked-example-3 caption {
    font-weight: bold;
}

.data {
    opacity: 0.5 !important;
    z-index: 1 !important;
}