<!-- Insert Modal -->
<div class="modal fade" id="modal-settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #494CA2;">
        <h5 class="modal-title text-white" id="exampleModalLabel">Tuỳ chỉnh</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm col-form">
            <form id="change-limit-form" action="/manager/payment/change-limit" method="post">
                <div class="form-group">
                  <label for="minimum-limit" class="font-weight-bold">Hạn mức thanh toán tối thiểu</label>
                  <small id="msg" class="form-text text-danger"></small>
                  <input id="minimum-limit" min="0" max="100000000" name="minimumLimit" type="number" class="form-control mt-2"  placeholder="Nhập hạn mức muốn thay đổi" required="" autofocus="" />
                  <small class="form-text text-muted mt-2">Thông tin hạn mức thay đổi sẽ áp dụng cho tất cả tài khoản.</small>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">Đóng</button>
        <button type="button" id="change-limit-btn" style="background-color: #494CA2;" class="btn text-white">Cập nhật</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/manager/payment/change-limit.js"></script>