<div id="body">
    <div id="title-changepw">
        <div>Thay đổi mật khẩu</div>
    </div>
    <form action="/change-password" method="post">
        <div class="input-group">
            <label for="oldpassword">Mật khẩu cũ</label>
            <input type="password" class="input" name="oldpassword" id="oldpassword" required>
        </div>
        <div class="input-group">
            <label for="newpassword">Mật khẩu mới</label>
            <input type="password" class="input" name="newpassword" id="newpassword" required>
        </div>
        <div class="input-group">
            <label for="renewpassword">Xác nhận mật khẩu mới</label>
            <input type="password" class="input" name="renewpassword" id="renewpassword" required>
        </div>
        <div class="input-group submit">
            <input type="submit" id="submit" value="Đổi mật khẩu">
        </div>
        {{#if msg}}
            <div class="alert {{#if status}} alert-success {{else}} alert-warning {{/if}}" role="alert">
            {{msg}}
            </div>
        {{/if}}
    </form>
    
</div>