<body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
  ></script>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
      Covid Management
    </a>
    <input
      class="form-control form-control-dark w-100"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">
          Sign out
        </a>
      </li>
    </ul>
  </nav>
  <div class="mb-6"></div>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="#">
                Danh sách người liên quan
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Quản lý sản phẩm nhu yếu phẩm
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Quản lý gói nhu yếu phẩm
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Thống kê thông tin
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Quản lý thanh toán
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="chartjs-size-monitor"
          style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
        >
          <div
            class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div
              style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"
            ></div>
          </div>
          <div
            class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div
              style="position:absolute;width:200%;height:200%;left:0; top:0"
            ></div>
          </div>
        </div>
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <h1 class="h2"></h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">  Thêm người</button>
              </div>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Sắp xếp theo
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">
                  Tình trạng
                </button>
                <button class="dropdown-item" type="button">
                  Độ tuổi
                </button>
                <button class="dropdown-item" type="button">
                  Giới tính
                </button>
                <button class="dropdown-item" type="button">
                  Địa chỉ
                </button>
                <button class="dropdown-item" type="button">
                  Nơi điều trị
                </button>
              </div>
            </div>
          </div>
        </div>
        <h2>
          Danh sách người liên quan
        </h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>
                  STT
                </th>
                <th>
                  Họ tên
                </th>
                <th>
                  Trạng thái
                </th>
                <th>
                  Tuổi tác
                </th>
                <th>
                  Địa chỉ
                </th>
                <th>
                  Chi tiết
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  Trà Anh Toàn
                </td>
                <td>
                  F10
                </td>
                <td>
                  22
                </td>
                <td>
                  Quảng Ngãi
                </td>
                <td>
                  <button type="button" class="btn btn-primary">
                    Chi tiết
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  Trà Anh Toàn
                </td>
                <td>
                  F10
                </td>
                <td>
                  22
                </td>
                <td>
                  Quảng Ngãi
                </td>
                <td>
                  <button type="button" class="btn btn-primary">
                    Chi tiết
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  {{> modal}}


</body>