<div class="container py-5">
    <div class="row">
        <div class="col-md-3 ">
            {{> payment_sidebar where='input-money'}}
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Nạp tiền</h4>
                            <hr>
                        </div>
                    </div>
                    <form action="./input-money" method="post" class="form-inline">
                    <div class="form-group">
                        <h5>Số tiền cần nạp</h5>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputMoney" class="sr-only"></label>
                        <input type="number" name="money" class="form-control" id="inputMoney" placeholder="Nhập số tiền">
                    </div>
                    <button type="submit" id="recharge" class="btn btn-success mb-2">Nạp tiền</button>
                    </form>
                    <div id="announce"></div>
                    {{#if msg}}<div class="text-success">{{msg}}</div>{{/if}}
                    {{#if error}}<div class="text-danger">{{error}}</div>{{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/inputMoney.js"></script>