{{> navbar text='Tìm kiếm nhu yếu phẩm ... '}}


<div class="container-fluid">
  <div class="row">
    {{> sidebar where='product'}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div id="line-title">
        <h2 class="title">Danh sách nhu yếu phẩm</h2>
        <div class="btn-toolbar mb-2 mb-md-0 group-btn-action">
          <div class="btn-group mr-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-insert">Thêm nhu yếu phẩm</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Sắp xếp theo
            </button>
            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
              style="position: absolute; transform: translate3d(-24px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
              <button class="dropdown-item" type="button">Đơn giá</button>
              <button class="dropdown-item" type="button">Lượng tiêu thụ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="table-main" class="table table-striped table-sm">
          <thead>
            <tr>
              <th class="text-center" style="width: 10%"> STT </th>
              <th class="text-center" style="width: 25%">Tên</th>
              <th class="text-center" style="width: 10%">Đơn giá</th>
              <th class="text-center" style="width: 25%">Đơn vị định lượng</th>
              <th class="text-center" style="width: 30%"> Thao tác </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                1
              </td class="text-center">
              <td class="text-center">Bánh mì 1</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
            <tr>
              <td class="text-center">
                2
              </td class="text-center">
              <td class="text-center">Bánh mì 2</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
            <tr>
              <td class="text-center">
                2
              </td class="text-center">
              <td class="text-center">Bánh mì 2</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
            <tr>
              <td class="text-center">
                2
              </td class="text-center">
              <td class="text-center">Bánh mì 2</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
            <tr>
              <td class="text-center">
                1
              </td class="text-center">
              <td class="text-center">Bánh mì 1</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
            <tr>
              <td class="text-center">
                2
              </td class="text-center">
              <td class="text-center">Bánh mì 2</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
            <tr>
              <td class="text-center">
                2
              </td class="text-center">
              <td class="text-center">Bánh mì 2</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
            <tr>
              <td class="text-center">
                2
              </td class="text-center">
              <td class="text-center">Bánh mì 2</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
            <tr>
              <td class="text-center">
                1
              </td class="text-center">
              <td class="text-center">Bánh mì 1</td class="text-center">
              <td class="text-center">
                F10
              </td class="text-center">
              <td class="text-center">
                22
              </td class="text-center">

              <td class="text-center">
                <button type="button" class="btn btn-primary btn-detail">
                  Chi tiết
                </button>
                <button type="button" class="btn btn-primary btn-update" data-toggle="modal"
                  data-target="#modal-update">
                  Cập nhật
                </button>
                <button type="button" class="btn btn-primary btn-delete" data-toggle="modal"
                  data-target="#modal-delete">
                  Xoá
                </button>
              </td class="text-center">
            </tr>
          </tbody>
        </table>
        {{> pagination}}
      </div>
    </main>
  </div>
</div>

<!-- Insert Modal -->
<div class="modal fade" id="modal-insert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm nhu yếu phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-auto col-img">
            <div class="container item-img-container">
              <div class="row">
                <div class="col-sm">
                  <img class="item-img" src="/img/bread1.jpg">
                </div>
                <div class="col-sm">
                  <img class="item-img" src="/img/bread2.jpg">
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <img class="item-img" src="/img/bread3.jpg">
                </div>
                <div class="col-sm">
                  <img class="item-img" src="/img/bread4.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <form action="#">
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Mã nhu yếu phẩm</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
                  <p>1524</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Đơn giá</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
                  <p>1000USD</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Đơn vị định lượng</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
                  <p>cái</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-primary">Cập nhật</button>
      </div>

    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật thông tin nhu yếu phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-auto col-img">
            <div class="container item-img-container">
              <div class="row">
                <div class="col-sm">
                  <img class="item-img" src="/img/bread1.jpg">
                </div>
                <div class="col-sm">
                  <img class="item-img" src="/img/bread2.jpg">
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <img class="item-img" src="/img/bread3.jpg">
                </div>
                <div class="col-sm">
                  <img class="item-img" src="/img/bread4.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm col-form">
            <form action="#">

              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Mã nhu yếu phẩm</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="1524">
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Tên yếu phẩm</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="Bánh mì 1">
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Đơn giá</p>
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="1000USD">
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <p class="font-weight-bold">Đơn vị định lượng</p>
                </div>
                <div class="col-sm">
                  <div class="btn-group" style="width: 100%;">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      cái
                    </button>
                    <div class="br-2"></div>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button">kg</button>
                      <button class="dropdown-item" type="button">tạ</button>
                      <button class="dropdown-item" type="button">lô</button>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-primary">Cập nhật</button>
      </div>

    </div>
  </div>
</div>

<!-- Delate Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá nhu yếu phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xoá nhu yếu phẩm này ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-primary">Có</button>
      </div>
    </div>
  </div>
</div>
{{> modal}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>