<div class="container">
    <div class="card">
        <form class="form-signin" method="post" action="./change-password">
            <h4 class="text-center text-primary">
                Tài khoản thanh toán
            </h4>
            <h2 class="text-center font-weight-bold text-primary">Đổi mật khẩu</h2>
            <label for="newPass">
                Mật khẩu mới
            </label>
            <input type="password" id="newPass" name="newPass" class="form-control" placeholder="Mật khẩu mới" required=""
                autofocus="" />
            <div class="mb-3"></div>
            <label for="retypePass">
                Nhập lại mật khẩu
            </label>
            <input type="password" name="retypePass" id="retypePass" class="form-control" placeholder="Nhập lại mật khẩu"
                required="" />
            <div class="mb-3"></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Đổi mật khẩu
            </button>
            {{#if msg}}
            <h5 class="text-danger font-weight-bold text-center">
                {{msg}}
            </h5>
            {{/if}}
        </form>
    </div>
</div>