<link rel="stylesheet" href="/css/chart.css">
<link rel="stylesheet" href="/css/stacked_bar_chart.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">

{{> navbar text='Tìm kiếm nhu yếu phẩm ... '}}

<div class="mb-6"></div>

<div class="container-fluid">
  <div class="row">
    {{> sidebar where='statistic'}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="covid-count">
        <h1>Thống kê thông tin</h1>
         <table id="stacked-example-3"
          class="charts-css column hide-data show-heading show-labels show-primary-axis show-3-secondary-axes data-spacing-10 multiple stacked">
          <caption> Thống kê số lượng Covid trong 6 tháng gần nhất </caption>
         
          <tbody>
            <tr>
              <th scope="row"> Tháng 1 </th>
              <td style="--size:calc(50 / 150);"><span class="data"> 50$ </span></td>
              <td style="--size:calc(50 / 150);"><span class="data"> 50$ </span></td>
              <td style="--size:calc(30 / 150);"><span class="data"> 30$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
            </tr>
            <tr>
              <th scope="row"> Tháng 2 </th>
              <td style="--size:calc(30 / 150);"><span class="data"> 30$ </span></td>
              <td style="--size:calc(30 / 150);"><span class="data"> 30$ </span></td>
              <td style="--size:calc(30 / 150);"><span class="data"> 30$ </span></td>
              <td style="--size:calc(30 / 150);"><span class="data"> 30$ </span></td>
            </tr>
            <tr>
              <th scope="row"> Tháng 3 </th>
              <td style="--size:calc(40 / 150);"><span class="data"> 40$ </span></td>
              <td style="--size:calc(25 / 150);"><span class="data"> 25$ </span></td>
              <td style="--size:calc(45 / 150);"><span class="data"> 45$ </span></td>
              <td style="--size:calc(30 / 150);"><span class="data"> 30$ </span></td>
            </tr>
            <tr>
              <th scope="row"> Tháng 4 </th>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
            </tr>
            <tr>
              <th scope="row"> Tháng 5 </th>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
            </tr>
            <tr>
              <th scope="row"> Tháng 6 </th>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
              <td style="--size:calc(20 / 150);"><span class="data"> 20$ </span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="status-change">
        <h1>Thống kê số người chuyển trạng thái trong ngày {{today}}</h1>
        <div class="chart-wrap vertical">
          <h2 class="title">Thống kê số lượng Covid trong ngày {{day}} 21/12/2021</h2>

          <div class="grid">
            <div class="bar" style="--bar-value:85%;" data-name="F0" title="1000"></div>
            <div class="bar" style="--bar-value:23%;" data-name="F1" title="100"></div>
            <div class="bar" style="--bar-value:7%;" data-name="F2" title="100"></div>
            <div class="bar" style="--bar-value:20%;" data-name="Đã khỏi bệnh" title="Đã khỏi bệnh"></div>
          </div>
        </div>
      </div>
      <div class="top5-package">
        <h1>Top 5 gói sản phẩm được tiêu thụ nhiều nhất</h1>
       

      </div>
      <div class="top5-product">


        <h1>
          Thống kê số lượng sản phẩm được tiêu thụ
        </h1>
        <div class="chart-wrap vertical">
          <h2 class="title">
            5 sản phẩm được bán nhiều nhất
          </h2>

          <div class="grid">:
            <div class="bar" style="--bar-value:85%;" data-name="F0" title="1000"></div>
            <div class="bar" style="--bar-value:23%;" data-name="F1" title="100"></div>
            <div class="bar" style="--bar-value:7%;" data-name="F2" title="100"></div>
            <div class="bar" style="--bar-value:20%;" data-name="Đã khỏi bệnh" title="Đã khỏi bệnh"></div>
          </div>
        </div>
      </div>
      <div class="payment">
        <h1>Thống kê dư nợ, thanh toán</h1>
        <div class="chart-wrap vertical">
          <h2 class="title">Thống kê số lượng Covid trong ngày {{day}} 21/12/2021</h2>

          <div class="grid">
            <div class="bar" style="--bar-value:85%; " data-name="F0" title="1000"></div>
            <div class="bar" style="--bar-value:23%;" data-name="F1" title="100"></div>
            <div class="bar" style="--bar-value:7%;" data-name="F2" title="100"></div>
            <div class="bar" style="--bar-value:20%;" data-name="Đã khỏi bệnh" title="Đã khỏi bệnh"></div>
          </div>
        </div>
      </div>

    </main>

  </div>
</div>
{{> modal}}
<script>
  $('.value').each(function() {
    var text=$(this).text();
    $(this).parent().css('height',text);
  });

  $('.block').tooltip();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js">  </script>
